 .App {
  text-align: center;
}
.wraper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 180px auto 180px;  */
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  /* max-width: 800px; */
  padding-top: 20px;
}

nav>button{
  margin: 30px 10px;
}

.fa, .fas {
  font-weight: 900;
  margin-right: 10px;
}

.card-title{
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
.button_wraper{
  display: flex;
  flex-direction: column;
}
.btn{
  margin: 5px;
  font-weight: 600;
}